
    <div class="row home-slide" style="text-align:center;">
        <h2>Nidara-Children Healthy Child Development Questionnaire</h2>
        <div class="col-md-12 col-lg-12">
            <ul class="topbar">
              <li class="active">Core Education</li>
              <li>Core Health</li>
              <li>Core interest</li>
            </ul>
          </div>
        <div class="col-xs-12"  *ngIf="goNextStart">
            <div class="col-xs-12">
              <h3 class="text-left" style="font-family: 'GillSansStd-light';text-transform: inherit">Please select the choice that most accurately reflect your thought about your child</h3>
            </div>
            <form  #Quesdata= "ngForm" (ngSubmit)="onSubmit(Quesdata)">
               <div id="que_1" class="col-xs-12" *ngIf="!button_3 && !button_4">
                 <div *ngFor="let x of ques; let idx=index">
                   <div class="col-xs-12">
                     <div class="col-xs-6">
                      <div class="quse-border">
                        <h4>{{x.quesVal}}</h4>
                      </div>
                    </div>
                    <div class="col-xs-3" style="font-size:19px !important;">
                      <div class="radio-but">
                        <input type="radio" [(ngModel)]="ques[idx].value" name="ques{{idx}}" required value="yes"><span>Yes</span>
                      </div>
                    </div>
                     <div class="col-xs-3" style="font-size:19px !important;">
                        <div class="radio-but">
                            <input type="radio" [(ngModel)]="ques[idx].value" name="ques{{idx}}" required value="no"><span>No</span>
                          </div>
                     </div>
                   </div>
                 </div>
                 <div class="col-md-12 col-lg-12">
                  <div class="col-md-6 .col-lg-6"></div>
                  <div class="col-md-6 .col-lg-6 buttons-qus">
                    <div class="col-md-4 addchild">

                    </div>
                    <div class="col-md-8 submit">
                        <button class="btn_cls" type="submit" >SUBMIT AND NEXT</button>
                      </div>
                  </div>
                </div>
               </div>
              </form>
        </div>
      </div>
