
  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>CHANGE YOUR PASSWORD</h3>
      </div>

    </div>

<div class="row">
    <div *ngIf="_response.status" [ngClass]="_response.alert">{{_response.message}}</div>
<div class="container">



  <form #changepasswordForm="ngForm" (ngSubmit)="changepasswordFormSubmit(changepasswordForm)">
    <div class="password-div">

      <div class="form-fields kid_caregiver_info">
        <div class="form-response">
          <div class="row" id="pass-change">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">

              <label for="password">Old Password *</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <input type="password" name="oldpassword" [(ngModel)]="formData.oldpassword" minlength="5" maximum="10" #oldpassword="ngModel" required>
              <span *ngIf="oldpassword.invalid && (oldpassword.dirty || oldpassword.touched)">


                <span *ngIf="oldpassword.errors.required" class="bg-danger text-white error">Required Old Password.</span>
              <span *ngIf="oldpassword.hasError('minlength')" class="bg-danger text-white error">Minimum length 5.</span>
              <span *ngIf="oldpassword.hasError('maximum')" class="bg-danger text-white error">Minimum length 10.</span>
              </span>
            </div>
          </div>
          <div class="row" id="pass-change">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">

              <label for="password">New Password *</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <input type="password" name="password" [(ngModel)]="formData.password" minlength="5" maximum="10" #password="ngModel" required>
              <span *ngIf="password.invalid && (password.dirty || password.touched)">
              <span *ngIf="password.errors.required" class="bg-danger text-white error">Required Password.</span>
              <span *ngIf="password.hasError('minlength')" class="bg-danger text-white error">Minimum length 5.</span>
              <span *ngIf="password.hasError('maximum')" class="bg-danger text-white error">Minimum length 10.</span>
              </span>
            </div>
          </div>


          <div class="row" id="pass-change">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">

              <label for="cmfpassword">Confirm New Password *</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <input type="password" name="confirmpassword" validateEqual="password" [(ngModel)]="formData.confirmpassword" minlength="5" maximum="10" #confirmpassword="ngModel" required>
              <span *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)">
              <span *ngIf="confirmpassword.errors.required" class="bg-danger text-white error">Required Password.</span>
              <span *ngIf="confirmpassword.hasError('minlength')" class="bg-danger text-white error">Minimum length 5.</span>
              <span *ngIf="confirmpassword.hasError('maximum')" class="bg-danger text-white error">Minimum length 10.</span>
              <span  *ngIf="confirmpassword.valid || confirmpassword.pristine" class="bg-danger txt-white error">Password does not Match</span>


            </span>

            </div>


          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <input type="submit" [disabled]="!changepasswordForm.form.valid" class="btn-save" value="SAVE PASSWORD" id="change-psw">
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>
</div>
