<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <br>
      <p style="font-size:14px;">{{currentDate | date}}</p>
      <h3 id="daily-core-session">NC HEALTHY CHILD DEVELOPMENT APPOINTMENTS TODAY</h3>

  <ul class="timeing">
    <li><a routerLink="appointment/09:00-AM-TO-10:00-AM">09:00 AM TO 10:00 AM
      </a></li>
    <li><a routerLink="appointment/10:00-AM-TO-11:00-AM">10:00 AM TO 11:00 AM
      </a></li>
    <li><a routerLink="appointment/11:00-AM-TO-12:00-PM">11:00 AM TO 12:00 PM
      </a></li>
    <li><a routerLink="appointment/12:00-PM-TO-01:00-PM">12:00 PM TO 01:00 PM
      </a></li>
  </ul>
  </div>
