<div class="col-md-12 row">
  <p>
    <br>
  </p>
  <h3>REGISTER NEW PATIENTS
    </h3>
    <h4>INVOICE DETAILS
      </h4>
  <ul class="parent-list">
      <li class="col-md-12 col-lg-12 paddingless">
          <div class="col-md-6 col-lg-6 paddingless"><h4>PATIENT NAME</h4></div>
          <div class="col-md-6 col-lg-6 paddingless"><h4>MOBILE NUMBER</h4></div>
        </li>
    <ng-container *ngIf="parentListLength !== 0" >
      <ng-container *ngFor="let parentListitem of parentList" >
        <a [routerLink]="['/doctor/parent-invoice/',parentListitem.id]">
          <li class="col-md-12 col-lg-12 paddingless">
            <div class="col-md-6 col-lg-6 paddingless"><h4>{{parentListitem.first_name}}</h4></div>
            <div class="col-md-6 col-lg-6 paddingless"><h4>{{parentListitem.mobile}}</h4></div>
          </li>
        </a>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="parentListLength == 0" >
        <ng-container *ngFor="let parentListitem of parentList" >
          <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 error-mass paddingless">
              <p>{{parentListitem.mass}}</p>
          </div>

          <!-- <a [routerLink]="['/doctor/parent-invoice/',parentListitem.id]">
            <li class="col-md-12 col-lg-12 paddingless">
              <div class="col-md-6 col-lg-6 paddingless"><h4>{{parentListitem.first_name}}</h4></div>
              <div class="col-md-6 col-lg-6 paddingless"><h4>{{parentListitem.mobile}}</h4></div>
            </li>
          </a> -->
        </ng-container>
      </ng-container>
  </ul>
</div>
