<p><br></p>
<h3>NC HEALTHY CHILD DEVELOPMENT
    AWARENESS GUIDE

  </h3>
<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
  <h4>WHAT DOES EARLY CHILDHOOD FOUNDATION MEAN?
    </h4>
    <ul>
      <li>Giving your child the foundation in health, learning and interest exploration all at the same time
        </li>
      <li>Helping your child create the brain connections necessary good development, learning and success in life
        </li>
      <li>Tracking and developing your child as per hundreds of milestones
        </li>

    </ul>
</div>
<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
    <h4>WHY SHOULD YOU GIVE YOUR CHILD A HOLISTIC EARLY CHILDHOOD FOUNDATION?

      </h4>
      <ul>
        <li>It will give you’re the chance to make sure your child is growing up ok

          </li>
        <li>Will help you catch issues as an early warning if there are any

          </li>


      </ul>
  </div>

  <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
      <h4>HOW CAN YOU GIVE YOUR CHILD A SOLID EARLY CHILDHOOD FOUNDATION?

        </h4>
        <ul>
          <li>-Sign up for Nidara-Children

            </li>


        </ul>
    </div>
